:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;
  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);
  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;
  /* Others */
  --btn-radius: 25px;
  --indent: 30px;
  --items: 3;
  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;
  --anim-fast: 300ms ease-out;
  --anim-slow: 800ms ease;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.gallery, .team, .benefits, .price, .about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 1200px) {
  .gallery, .team, .benefits, .price, .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery, .team, .benefits, .price, .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

@-webkit-keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-540deg) scale(0);
            transform: translate(-50%, -50%) rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-540deg) scale(0);
            transform: translate(-50%, -50%) rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  6% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  14% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  6% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  14% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 72px;
  }
}

.uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.uppertitle--theme-dark {
  color: var(--grey-cl-60);
}

.uppertitle--theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}

.title--theme-dark {
  margin-bottom: 44px;
  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle--theme-dark {
  color: var(--grey-cl);
}

.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.btn:hover, .btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn--theme-dark {
  color: var(--light-txt-cl);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: background-color var(--trns-fast), -webkit-backdrop-filter var(--trns-fast);
  transition: background-color var(--trns-fast), -webkit-backdrop-filter var(--trns-fast);
  transition: background-color var(--trns-fast), backdrop-filter var(--trns-fast);
  transition: background-color var(--trns-fast), backdrop-filter var(--trns-fast), -webkit-backdrop-filter var(--trns-fast);
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.header--no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 60px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 132px;
  }
}

.header__group {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
  }
}

.header__contact {
  display: block;
  padding: 52px 0;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
@media screen and (max-width: 1199px) {
  .header__contact {
    display: none;
  }
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-txt-cl);
}

.logo__img {
  fill: #ffffff;
  -webkit-transition: fill var(--anim-slow);
  transition: fill var(--anim-slow);
}
@media screen and (min-width: 768px) {
  .logo__img {
    fill: #303030;
  }
}

.header--no-transparency .logo__img {
  fill: #ffffff;
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 16px;
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 52px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 5%;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-bg-cl);
  opacity: 0;
  -webkit-transform: scaleX(0.2);
          transform: scaleX(0.2);
  -webkit-transition: opacity var(--trns-fast), -webkit-transform var(--trns-fast);
  transition: opacity var(--trns-fast), -webkit-transform var(--trns-fast);
  transition: opacity var(--trns-fast), transform var(--trns-fast);
  transition: opacity var(--trns-fast), transform var(--trns-fast), -webkit-transform var(--trns-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav__link--current {
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 209px;
    background-color: rgba(25, 28, 38, 0.2);
    background-size: cover;
    background-position: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_sm@1x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_sm@1x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_sm@2x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_sm@2x.jpg");
  }
}

.hero-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left-side {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .hero-left-side {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-right-side {
    padding: 272px 0 208px 100px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #191c26;
    background-size: cover;
    background-position: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_md@1x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_md@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_md@2x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_md@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_lg@1x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_lg@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/bg_lg@2x.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg_lg@2x.jpg");
  }
}

.hero-uppertitle {
  -webkit-animation: top-to-bottom 1000ms ease 200ms both;
          animation: top-to-bottom 1000ms ease 200ms both;
}

.hero-title {
  -webkit-animation: left-to-right 1000ms ease 1200ms both;
          animation: left-to-right 1000ms ease 1200ms both;
}

.hero-undertitle {
  max-width: 360px;
  margin: 0;
  -webkit-animation: bottom-to-top 1000ms ease 2200ms both;
          animation: bottom-to-top 1000ms ease 2200ms both;
}
@media screen and (max-width: 767px) {
  .hero-undertitle {
    font-size: 14px;
  }
}

.hero-media-list {
  margin-bottom: 40px;
  -webkit-transform: rotate(-90deg) translateY(26px);
          transform: rotate(-90deg) translateY(26px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.media-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.slider-pagination {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
}

.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: #fff;
}

.slider-list {
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.slider-btn {
  width: 60px;
  height: 24px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.slider-btn.prev {
  text-align: left;
}
.slider-btn.next {
  text-align: right;
}
.slider-btn[disabled] {
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

.slider-pagination {
  position: absolute;
  top: 50%;
  right: 35px;
}
@media screen and (max-width: 767px) {
  .slider-pagination {
    display: none;
  }
}

.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: var(--grey-cl);
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: var(--light-txt-cl);
}

.slider-list {
  position: absolute;
  right: 35px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .slider-list {
    display: none;
  }
}

.slider-btn {
  min-width: 60px;
  min-height: 24px;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-align: right;
  color: var(--light-txt-cl);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-txt-cl);
  cursor: pointer;
}
.slider-btn.disable {
  -moz-text-align-last: left;
       text-align-last: left;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  cursor: not-allowed;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .about-list {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-item {
  overflow: hidden;
}

.about-img {
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}
.about-item:hover .about-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-right-side {
  max-width: 330px;
}
@media screen and (min-width: 1200px) {
  .about-right-side {
    max-width: 470px;
  }
}

.about-desc {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.1em;
  color: var(--dark-txt-cl);
}

.price {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/price/img_sm@1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img_sm@2x.png");
  }
}
@media screen and (min-width: 481px) {
  .price {
    background-image: url("../images/price/img_md@1x.png");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img_md@2x.png");
  }
}
@media screen and (min-width: 769px) {
  .price {
    background-image: url("../images/price/img_lg@1x.png");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img_lg@2x.png");
  }
}

.price-block {
  margin-bottom: 44px;
}
@media screen and (max-width: 1199px) {
  .price-block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .price-list {
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 1199px) {
  .price-list:first-child {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-list:first-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list:last-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: var(--grey-cl);
}
@media screen and (max-width: 767px) {
  .price-item {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item::before {
  content: "";
  display: block;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-item-service {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn {
  display: block;
  margin: 0 auto;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.benefits-left-side {
  width: 50%;
}

.benefits-right-side {
  width: 500px;
}

.benefits-list {
  width: 370px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;
  text-align: center;
  background: #f7f7f7;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

.benefits-quantity {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-quantity::after {
  content: "+";
  position: absolute;
  top: 7px;
  right: -15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-align: center;
  color: #303030;
}

.team {
  background-color: #f7f7f7;
}

@media screen and (max-width: 1199px) {
  .team-container {
    max-width: 480px;
  }
}

.team-list {
  --items: 1;
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 3;
  }
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: -webkit-transform var(--trns-fast);
  transition: -webkit-transform var(--trns-fast);
  transition: transform var(--trns-fast);
  transition: transform var(--trns-fast), -webkit-transform var(--trns-fast);
}
.team-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.team-wrapper {
  padding: 30px 10px 0;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: rgb(48, 48, 48);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
}

.socials-icon {
  fill: currentColor;
}

.gallery-uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    --items: 4;
  }
}

.gallery-item {
  position: relative;
}

.booking-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.booking-group-field {
  position: relative;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.booking-group-field:not(:last-child) {
  margin-right: 30px;
}

.booking-field,
.booking-message {
  width: 100%;
  height: 24px;
  color: #ffffff;
  outline: unset;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.booking-field:not(:-moz-placeholder-shown), .booking-message:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}

.booking-field:not(:-ms-input-placeholder), .booking-message:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}

.booking-field:focus,
.booking-field:not(:placeholder-shown),
.booking-message:focus,
.booking-message:not(:placeholder-shown) {
  border-color: #ffffff;
}

.booking-field::-webkit-input-placeholder, .booking-message::-webkit-input-placeholder {
  opacity: 0;
  font-size: 14px;
  color: #9da4bd;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.booking-field::-moz-placeholder, .booking-message::-moz-placeholder {
  opacity: 0;
  font-size: 14px;
  color: #9da4bd;
  -moz-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.booking-field:-ms-input-placeholder, .booking-message:-ms-input-placeholder {
  opacity: 0;
  font-size: 14px;
  color: #9da4bd;
  -ms-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.booking-field::-ms-input-placeholder, .booking-message::-ms-input-placeholder {
  opacity: 0;
  font-size: 14px;
  color: #9da4bd;
  -ms-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.booking-field::placeholder,
.booking-message::placeholder {
  opacity: 0;
  font-size: 14px;
  color: #9da4bd;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.booking-field:focus::-webkit-input-placeholder, .booking-message:focus::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.booking-field:focus::-moz-placeholder, .booking-message:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}

.booking-field:focus:-ms-input-placeholder, .booking-message:focus:-ms-input-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}

.booking-field:focus::-ms-input-placeholder, .booking-message:focus::-ms-input-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}

.booking-field:focus::placeholder,
.booking-message:focus::placeholder {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.booking-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast), color var(--anim-fast);
  transition: transform var(--anim-fast), color var(--anim-fast), -webkit-transform var(--anim-fast);
}

.booking-field:not(:-moz-placeholder-shown) + .booking-label, .booking-message:not(:-moz-placeholder-shown) + .booking-label {
  transform: translateY(-100%) scale(0.8);
  color: #ffffff;
}

.booking-field:not(:-ms-input-placeholder) + .booking-label, .booking-message:not(:-ms-input-placeholder) + .booking-label {
  transform: translateY(-100%) scale(0.8);
  color: #ffffff;
}

.booking-field:focus + .booking-label,
.booking-field:not(:placeholder-shown) + .booking-label,
.booking-message:focus + .booking-label,
.booking-message:not(:placeholder-shown) + .booking-label {
  -webkit-transform: translateY(-100%) scale(0.8);
          transform: translateY(-100%) scale(0.8);
  color: #ffffff;
}

.booking-field + .booking-label::after {
  content: "*";
  color: #ff6c00;
}

.booking-message {
  height: 76px;
  resize: none;
}

.contatcs-group {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/booking/booking-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}

.contatcs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts,
.booking {
  width: 570px;
}

.contacts {
  padding-left: 100px;
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: var(--grey-cl);
}

.contacts-text {
  font-weight: 700;
}

.contacts-item:first-child .contacts-icon {
  margin-top: 6px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contacts-uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.contacts-uppertitle:before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-schedule {
  color: var(--grey-cl);
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--grey-cl);
}
@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-media-list {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .footer-media-link {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.4);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 500px;
  min-height: 500px;
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-animation: 0.6s ease-out both;
          animation: 0.6s ease-out both;
}

.modal.modal-animation {
  -webkit-animation-name: swirl-in-fwd;
          animation-name: swirl-in-fwd;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #9da4bd;
  cursor: pointer;
}

.modal-icon {
  fill: #9da4bd;
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 45px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #9da4bd;
  border-radius: 6px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.modal-form-field:focus {
  outline-color: #ff6c00;
  -webkit-box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
          box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}

.modal-form-field:not(:-moz-placeholder-shown):invalid:required {
  outline-color: rgb(234, 31, 0);
  box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  box-shadow: unset;
}

.modal-form-field:not(:-ms-input-placeholder):invalid:required {
  outline-color: rgb(234, 31, 0);
  box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  box-shadow: unset;
}

.modal-form-field:not(:placeholder-shown):invalid:required {
  outline-color: rgb(234, 31, 0);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
          box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.modal-form-field:not(:-moz-placeholder-shown):valid:required {
  outline-color: rgb(47, 167, 0);
  box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  box-shadow: unset;
}

.modal-form-field:not(:-ms-input-placeholder):valid:required {
  outline-color: rgb(47, 167, 0);
  box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  box-shadow: unset;
}

.modal-form-field:not(:placeholder-shown):valid:required {
  outline-color: rgb(47, 167, 0);
  -webkit-box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
          box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.modal-form-field:focus + .modal-form-icon {
  fill: #ff6c00;
}

/* Attention icons */
.modal-form-icon-attention {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.warning,
.success {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.modal-form-field:not(:-moz-placeholder-shown):invalid:required ~ .modal-form-icon-attention .warning {
  opacity: 1;
  transform: scale(1);
  fill: rgb(234, 31, 0);
  transition-delay: 200ms;
}

.modal-form-field:not(:-ms-input-placeholder):invalid:required ~ .modal-form-icon-attention .warning {
  opacity: 1;
  transform: scale(1);
  fill: rgb(234, 31, 0);
  transition-delay: 200ms;
}

.modal-form-field:not(:placeholder-shown):invalid:required ~ .modal-form-icon-attention .warning {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  fill: rgb(234, 31, 0);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.modal-form-field:not(:-moz-placeholder-shown):valid:required ~ .modal-form-icon-attention .success {
  opacity: 1;
  transform: scale(1);
  fill: rgb(47, 167, 0);
  transition-delay: 200ms;
}

.modal-form-field:not(:-ms-input-placeholder):valid:required ~ .modal-form-icon-attention .success {
  opacity: 1;
  transform: scale(1);
  fill: rgb(47, 167, 0);
  transition-delay: 200ms;
}

.modal-form-field:not(:placeholder-shown):valid:required ~ .modal-form-icon-attention .success {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  fill: rgb(47, 167, 0);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

/* message */
.modal-form-message {
  display: block;
  width: 100%;
  height: 140px;
  padding: 16px 20px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #9da4bd;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), box-shadow var(--anim-fast);
  transition: outline var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  resize: none;
}

.modal-form-message:focus {
  outline-color: #ff6c00;
  -webkit-box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
          box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}

.modal-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc {
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form-agreement-link {
  color: #ff6c00;
  /* text-underline-position: under; */
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  text-underline-offset: 3px;
}

.modal-form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* width: 18px;
  height: 18px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid #9da4bd;
  border-radius: 2px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

  transition: 500ms; */
}

.modal-form-checkbox:checked {
  outline-color: #ff6c00;
  background-color: #ff6c00;
  background-size: 11px 8px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
}

.modal-form-agreement-icon {
  border-radius: 3px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.modal-form-checkbox:focus-visible + .modal-form-agreement-icon {
  outline-color: #ff6c00;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 108, 0, 0.25);
          box-shadow: 0 0 0 2px rgba(255, 108, 0, 0.25);
}

.uncheck {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.modal-form-checkbox:checked + .modal-form-agreement-icon .uncheck {
  opacity: 0;
}

.check {
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.modal-form-checkbox:checked + .modal-form-agreement-icon .check {
  opacity: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */