:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;

  /* Others */
  --btn-radius: 25px;
  --indent: 30px;
  --items: 3;
  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;

  --anim-fast: 300ms ease-out;
  --anim-slow: 800ms ease;
}

/**
  |============================
  | Base styles
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}

.uppertitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

/**
  |============================
  | Card set
  |============================
*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

/**
  |============================
  | Header
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-idx);

  width: 100%;

  transition: background-color var(--anim-slow), backdrop-filter var(--anim-slow);
}

.header.no-transparency {
  background-color: rgba(25, 28, 38, 0.7);
  backdrop-filter: blur(3px);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 132px;
}

.header-logo {
  fill: #303030;

  transition: fill var(--anim-slow);
}

.header.no-transparency .header-logo {
  fill: #ffffff;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link,
.header-contact {
  position: relative;

  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  transition: color var(--anim-fast);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20%;

  transform: translateX(-50%) scaleX(0.3);

  display: block;
  width: 95%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-bg-cl);
  opacity: 0;
  transition: transform var(--anim-fast), opacity var(--anim-fast);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon {
  fill: currentColor;
}

.header-group {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

.header-btn {
  animation: heartbeat 5s ease-in-out infinite both;
}

/**
  |============================
  | Hero
  |============================
*/
.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;

  background-color: #303030;
}

.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;

  transition: color var(--anim-fast);
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.hero-right-side {
  position: relative;

  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/hero/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero-uppertitle {
  animation: top-to-bottom 1000ms ease 200ms both;
}

.hero-title {
  animation: left-to-right 1000ms ease 1200ms both;
}

.hero-undertitle {
  width: 360px;
  animation: bottom-to-top 1000ms ease 2200ms both;
}

.slider-pagination {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
}

.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}

.slider-pagination-item.active {
  width: 18px;
  background-color: #fff;
}

.slider-list {
  position: absolute;
  right: 20px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.slider-btn {
  width: 60px;
  height: 24px;
  padding: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;

  cursor: pointer;
}

.slider-btn.prev {
  text-align: left;
}
.slider-btn.next {
  text-align: right;
}

.slider-btn[disabled] {
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

/**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 30px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  width: 470px;
}

.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

/**
  |============================
  | Price
  |============================
*/
.price {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-block {
  display: flex;
  justify-content: space-between;

  margin-bottom: 44px;
}

.price-list {
  flex-basis: 570px;

  padding: 30px 20px;
}

.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  align-items: baseline;

  color: var(--grey-cl);
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item::before {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;

  background-color: rgba(157, 164, 189, 0.12);
}

.price-item-service {
  order: -1;
}

.price-btn {
  display: block;
  margin: 0 auto;
}

/**
  |============================
  | Benefits
  |============================
*/

.benefits-container {
  display: flex;
  gap: 30px;
}

.benefits-left-side {
  width: 50%;
}

.benefits-right-side {
  width: 500px;
}

.benefits-list {
  width: 370px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  text-align: center;
  background: #f7f7f7;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

.benefits-quantity {
  position: relative;

  display: inline-block;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-quantity::after {
  content: '+';

  position: absolute;
  top: 7px;
  right: -15px;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}
/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(-100%);

  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;

  background-color: rgba(85, 85, 85, 0.2);
  backdrop-filter: blur(3px);

  transition: transform var(--anim-fast);
}

.team-item:hover .overlay {
  transform: translateY(0);
}

.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}

.team-wrapper {
  padding: 30px 10px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: rgb(48, 48, 48);
  border-radius: 50%;
  background-color: #fff;

  transition: color var(--anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
}

.socials-icon {
  fill: currentColor;
}

/**
  |============================
  | Gallery
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  --items: 4;
}

.gallery-item {
  position: relative;
}
/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/booking/booking-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}
/**
  |============================
  | Contatcs
  |============================
*/
.contatcs-container {
  display: flex;
  justify-content: space-between;
}

.contacts,
.booking {
  width: 570px;
}

.contacts {
  padding-left: 100px;
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--grey-cl);
}

.contacts-text {
  font-weight: 700;
}

.contacts-item:first-child .contacts-icon {
  margin-top: 6px;
  align-self: baseline;
}
.contacts-uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-uppertitle:before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-link {
  padding-top: 56px;
  padding-bottom: 56px;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);

  width: 100%;
  height: 100%;

  background-color: rgba(25, 28, 38, 0.4);
  backdrop-filter: blur(1px);

  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 400px;
  min-height: 500px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: 0.6s ease-out both;
}

.modal.modal-animation {
  animation-name: swirl-in-fwd;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #9da4bd;
  cursor: pointer;
}

.modal-icon {
  fill: #9da4bd;
}

/**
  |============================
  | Animations
  |============================
*/
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes swirl-in-fwd {
  0% {
    transform: translate(-50%, -50%) rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  6% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  8% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  14% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  20% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
