.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-link {
  padding-top: 56px;
  padding-bottom: 56px;
}
