.team {
  @extend %section;

  background-color: #f7f7f7;
}
.team-container {
  @media screen and (max-width: 1199px) {
    max-width: 480px;
  }
}
.team-list {
  --items: 1;

  @media screen and (min-width: 1200px) {
    --items: 3;
  }
}
.team-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(101%);

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(2px);

  transition: transform var(--trns-fast);

  .team-item:hover & {
    transform: translateY(0);
  }
}
.overlay-text {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.team-wrapper {
  padding: 30px 10px 0;
}
.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
